/* GLOBAL STYLES */
main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #8c54ff;
  --light: #ffffe8;
  --dark: #8174a1;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-three: 1rem;
  --spacing-four: calc(1rem * 1.5);
  --spacing-five: calc(2.5rem);
  --border-radius: 0.3rem;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: var(--light);
  color: var(--dark);
  font-family: 'Poiret One', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}
 
p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--light);
}

li {
  list-style: none;
}

/* BACKGROUND IMAGES */
.wd-photo {
  background-image: url("./assets/heart.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  
}

.gp-photo {
  background-image: url("./assets/cheersing.jpg");
}

.li-photo {
  background-image: url("./assets/tables.jpg");
}

.su-photo {
  background-image: url("./assets/beach.jpg");
}

.hp-photo {
  background-image: url("./assets/home-cover.jpg");
}
/* HEADER/NAV STYLES */
header {
  background: var(--dark);
  width: 100%;
  height: 9vh;
  align-items: center;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
}

header h1 {
  margin-left: 25px;
}
header ul {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
}

nav {
  width: 100%;
  justify-content: right;
}
nav a:hover {
  text-decoration: none;
}

nav li {
  cursor: pointer;
}

.login {
  display: flex;
  font-size: 2rem;
 
}

/* BUTTON STYLES */
button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

button {
  background: var(--primary);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin: 10px 75px 15px;
  padding: 10px 15px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5); 
}

/* HOMEPAGE STYLES */
.homepage {
  background-image: url("./assets/home-cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  
}

.homepage div {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 250px;
 
}
.homepage button {
  padding: 10px 100px;
  position: relative;
}

.wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background: rgba(228, 218, 218, 0.6);
}

.one {
  grid-column: 1;
  grid-row: 1;
  
}

.two {
  grid-column: 2;
  grid-row: 1;
}

.three {
  grid-column: 3;
  grid-row: 1;
}
/* FORM STYLES */
.form-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  box-shadow: var(--light);
  
}

.form-container{
  width: 100%;
  height: 100%;
  background-image:
  linear-gradient(to left, 
  rgba(0, 48, 73, 0.4),
  rgba(245, 246, 252, 0.3), 
  rgba(162, 135, 224, 0.4));
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.form-content {
  border-radius: 5px 5px 5px 5px;
  background: rgba(228, 218, 218, 0.6);
  padding: 30px;
  width: 90%;
  max-width: 250px;
  position: relative;
  padding: 0px;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  
}
.form-label,
.form-input,
.form-textarea {
  display: block;
}

 .form-label {
  font-size: 1.2rem;
  margin: 0.625rem 0 0.25rem;
}

 .form-input {
  padding: 0.75rem;
  margin: 0.5rem 0.5rem;
  font-size: 1.2rem;
  border: 2px solid var(--dark);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5); 
} 

/* FOOTER STYLES */
.copy {
  margin: 1px
}

.footer-wrapper {
  display: flex;
  align-items: left;
  justify-content: center;
  text-align: center;
  padding-top: 40px;
}
img {
  max-width: 100%;
  height: auto;
}

span[role='img'] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}

.container {
  width: auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.body-container {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}
.developers a {
 color:var(--dark);
 text-align: inherit;
 margin: 25px 5px 5px 5px
}

